<div class="modal-header">
    <span class="close">&times;</span>
    <h2><%= configuration.text.partials.addMessage.titleText %></h2>
</div>
<br>
<form action="/addmessage" method="post">
    <div class="message-form-container">
        <label for="message-title"><%= configuration.text.partials.addMessage.titleInputText %></label>
        </br>
        <input 
            type="text" 
            placeholder="Title" 
            name="message-title"
            class="title-input" 
            required
        />
        <br />
        <br>
        <label for="message-description"><%= configuration.text.partials.addMessage.descriptionInputText %></label>
        </br>
        <textarea
            placeholder="Description"
            name="message-description"
            class="description-input"
            required
        ></textarea>
        <button class="add-message-button"><%= configuration.text.partials.addMessage.titleText %></button>
        </div>
    <br*2>
</form>