<div style="text-align:center;">
    <button type="button" class="collapsible"><%= configuration.text.partials.eventbar.titleText %></button>
    <div class="collapsible-content">
        <br>
        <p><%= configuration.text.partials.eventbar.descriptionText %></p>
    <button type="post" class=""><%= configuration.text.partials.eventBar.interstedText %> (<%= configuration.text.partials.eventbar.interestedNum %>)</button>
    </div>
<div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
}
</script>