<div class="reaction-container">
    <span class="reaction-upvote">&#9650;</span><br>
    <span class="reaction-score">1</span><br>
    <span class="reaction-downvote">&#9660;</span><br><br>
    <span class="reaction-star">&#9733;</span>
</div>