<div class="administrator-dashboard-box">
    <form action="/administrator-dashboard/modify-user" , method="post">
        <div
            style="
                flex-direction: row;
                align-items: center;
                vertical-align: bottom;
            "
        >
        Currently Modifying user
    </div>
</div>