<form action="?action=createcomment" method="post">
    <div class="chatboard-comment-input-container">
        <center>
        <textarea placeholder="COMMENT" name="comment-context" class="comment-context-input" required></textarea>
        <br><br>
        <button type="submit" class="submit-button" value="submit" style="width:70%">Add comment</button>
        </center>
    </div>
</form>