<div class="modal-header">
    <span class="close">&times;</span>
    <h2>NEW EVENT</h2>
</div>
<br>
<form action="?action=createevent" method="post">
    <label for="event-title"><b>Title</b></label><br>
	<input type="text" placeholder="TITLE" name="event-title" required>
    <br><br>
    <label for="event-description"><b>Description</b></label><br>
	<textarea placeholder="DESCRIPTION" name="event-description" class="event-input-description"></textarea>
    <br><br>
    <label for="event-datetime"><b>Local Date & Time</b></label>
    <input type="datetime-local" name="event-datetime">
    <input type="hidden" name="username">
    <div style="display:flex;justify-content:center;align-items:center;"><br><br><br><br><br>
        <button type="submit" class="button submit-button" value="submit">Login</button>
    </div>
    <br><br>
</form>