<center>
    <button type="button" class="collapsible">Science Lecture on June 14th, 2022</button>
    <div class="collapsible-content">
        <br>
        <p>
            Come join 
            Videotelephony service link:
        </p>
    </div>
</center>