<center>
    <button type="button" class="collapsible button">Science Lecture on June 14th, 2022</button>
    <div class="collapsible-content" style="display:flex;justify-content:center;align-items:center;width:60%;">
        <br>
        <p>
            Dear students
            Videotelephony service link:
        </p>
    </div>
</center>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>