<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/styles/footer.css" rel="stylesheet" />
<p style="text-align:center; font-family:'Rubik', sans-serif">
    CommunicableStudentPortal 0.1.0-alpha (Proof of Concept) by <a href="https://mistertfy64.com">mistertfy64</a>
</p>