<p style="text-align:center; vertical-align:text-bottom; font-size:17px;">
    CommunicableStudentPortal 0.1.0-alpha (Proof of Concept) by <a href="https://mistertfy64.com"><img class="mistertfy64-wordmark" style="height:1em;display:inline-block;vertical-align: middle;" src="assets/images/mistertfy64.svg"></a>, <a href="https://github.com/Taweikung09">Taweikung09</a> and <a href="https://github.com/Enchantingplayz">Enchantingplayz</a>
</p>