<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/styles/header.css" rel="stylesheet" />
<div class='topnav' id="myTopnav">
	<a class='active' href='/pages/index.ejs'>HOME</a>
	<div class='dropdown'>
		<button class='dropbtn'>INFORMATION</button>
		<div class='dropdown-content'>
			<a href=''>ABOUT</a>
			<a href=''>UPDATES</a>
		</div>
	</div>
	<a href='chatboard-menu.ejs'>CHAT BOARDS</a>
	<a href=''>EVENTS</a>
	<a href=''>STUDY MATERIAL</a>
	<a href=''>LEADERBOARD</a>
	<a href=''>CONTACT</a>
	<div class='dropdown'>
		<button class='dropbtn'>SOCIAL</button>
		<div class='dropdown-content'>
			<a href=''>EMAIL</a>
			<a href=''>FACEBOOK</a>
			<a href=''>LINE</a>
			<a href=''>YOUTUBE</a>
		</div>
	</div>
	<a href='javascript:void(0)' class='icon' onclick='myFunction()'>&#9776;</a>

	<div class="login-container">
		<a href="login.ejs"><img src="">LOGIN</a>
	</div>
</div>



<script>
	function myFunction() {
	  var x = document.getElementById("myTopnav");
	  if (x.className === "topnav") {
		x.className += " responsive";
	  } else {
		x.className = "topnav";
	  }
	}
</script>