<div class="top-navigation-bar">
	<a href="https://www.youtube.com/">HOME</a>
	<div class="dropdown">
		<button class="dropdown-button">INFORMATION</button>
		<div class="dropdown-menu">
			<a href="">ABOUT</a>
			<a href="">UPDATES</a>
		</div>
	</div>
	<a href="">CHAT BOARDS</a>
	<a href="">EVENTS</a>
	<a href="">ARCHIVES</a>
	<a href=""></a>
	<a href="">CONTACT</a>
	<div class="dropdown">
		<button class="dropdown-button">SOCIAL</button>
		<div class="dropdown-menu">
			<a href="">EMAIL</a>
			<a href="">FACEBOOK</a>
			<a href="">LINE</a>
			<a href="">YOUTUBE</a>
		</div>
	</div>
</div>
