<html lang="en">
	<link rel="stylesheet" href="header.css">
	
	<div class='topnav' id='myTopnav'>
		<a href='https://www.youtube.com/'>HOME</a>
		<div class='dropdown'>
			<button class='dropdown-btn'>INFORMATION</button>
			<div class='dropdown menu'>
				<a href=''>ABOUT</a>
				<a href=''>UPDATES</a>
			</div>
		</div>
		<a href=''>CHAT BOARDS</a>
		<a href=''>EVENTS</a>
		<a href=''>ARCHIVES</a>
		<a href=''></a>
		<a href=''>CONTACT</a>
		<div class='dropdown'>
			<button class='dropdown-btn'>SOCIAL</button>
			<div class='dropdown menu'>
				<a href=''>EMAIL</a>
				<a href=''>FACEBOOK</a>
				<a href=''>LINE</a>
				<a href=''>YOUTUBE</a>
			</div>
		</div>

	</div>
</html>