<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="header.css">
<div class='topnav'>
	<a href='https://www.youtube.com/'>HOME</a>
	<div class='dropdown'>
		<button class='dropbtn'>INFORMATION</button>
		<div class='dropdown-content'>
			<a href=''>ABOUT</a>
			<a href=''>UPDATES</a>
		</div>
	</div>
	<a href=''>CHAT BOARDS</a>
	<a href=''>EVENTS</a>
	<a href=''>ARCHIVES</a>
	<a href=''></a>
	<a href=''>CONTACT</a>
	<div class='dropdown'>
		<button class='dropbtn'>SOCIAL</button>
		<div class='dropdown-content'>
			<a href=''>EMAIL</a>
			<a href=''>FACEBOOK</a>
			<a href=''>LINE</a>
			<a href=''>YOUTUBE</a>
		</div>
	</div>
</div>