<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/styles/styles.css" rel="stylesheet" />
<div id="top-navigation-bar">
	<a class='active' href='/'>HOME</a>
	<div class='top-navigation-bar-dropdown'>
		<button class='drop-down-button'>INFORMATION</button>
		<div class='top-navigation-bar-dropdown-content'>
			<a href='/about'>ABOUT</a>
			<a href=''>UPDATES</a>
		</div>
	</div>
	<a href='/chatboards'>CHAT BOARDS</a>
	<a href='/events'>EVENTS</a>
	<a href=''>STUDY MATERIAL</a>
	<a href=''>LEADERBOARD</a>
	<a href=''>CONTACT</a>
	<div class='top-navigation-bar-dropdown'>
		<button class='drop-down-button'>SOCIAL</button>
		<div class='top-navigation-bar-dropdown-content'>
			<a href=''>EMAIL</a>
			<a href=''>FACEBOOK</a>
			<a href=''>LINE</a>
			<a href=''>YOUTUBE</a>
		</div>
	</div>

	<div class="login-container">
		<!-- <script>
			if(){
			echo"<a href="/login">LOGIN</a>";"
			}if else{

			}
		</script> -->
	</div>
	
	<a href='javascript:void(0)' class='icon' onclick='myFunction()'>&#9776;</a>
</div>



<!-- <script>
	function myFunction() {
	  var x = document.getElementById("mytop-navigation-bar");
	  if (x.className === "top-navigation-bar") {
		x.className += " responsive";
	  } else {
		x.className = "top-navigation-bar";
	  }
	}
</script> -->