<button type="button" class="collapsible">Year 1</button>
<div class="collapsible-content">
    <table id="leaderboard" class="horizontal-center">
      <tr>
           <th>RANK</th>
           <th>NAME</th>
           <th>SCORE</th>
      </tr>
     <tr>
         <td>1</td>
           <td>Doe Smith</td>
           <td>69</td>
      </tr>
    </table>
</div>
<br>
<button type="button" class="collapsible">Year 2</button>
<div class="collaspable-content">
    <table id="leaderboard" class="horizontal-center">
      <tr>
           <th>RANK</th>
           <th>NAME</th>
           <th>SCORE</th>
      </tr>
     <tr>
         <td>1</td>
           <td>Doe Smith</td>
           <td>69</td>
      </tr>
    </table>
</div>
<br>
<button type="button" class="collapsible">Year 3</button>
<div class="collaspable-content">
    <table id="leaderboard" class="horizontal-center">
      <tr>
           <th>RANK</th>
           <th>NAME</th>
           <th>SCORE</th>
      </tr>
     <tr>
         <td>1</td>
           <td>Doe Smith</td>
           <td>69</td>
      </tr>
    </table>
</div>
<br>
<button type="button" class="collapsible">Year 4</button>
<div class="collaspable-content">
    <table id="leaderboard" class="horizontal-center">
      <tr>
           <th>RANK</th>
           <th>NAME</th>
           <th>SCORE</th>
      </tr>
     <tr>
         <td>1</td>
           <td>Doe Smith</td>
           <td>69</td>
      </tr>
    </table>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>