<h3>Year 1</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Doe Smith</th>
        <th>69</th>
    </tr>
</table>
<br>
<h3>Year 2</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
</table>
<br>
<h3>Year 3</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
</table>
<br>
<h3>Year 4</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
</table>