<h3>Year 1</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Doe Smith</td>
        <td>69</td>
    </tr>
</table>
<br><br>
<h3>Year 2</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
</table>
<br><br>
<h3>Year 3</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
</table>
<br><br>
<h3>Year 4</h3>
<table id="leaderboard" class="horizontal-center">
    <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
    </tr>
</table>
<br>