<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>

	<body>
		<header>
			<%- include("../../partials/header", {configuration:
			configuration.topNavigationBarSections}); %>
		</header>
		<br />
		<h1>Administrator Dashboard</h1>
		<br />
		<div
			style="display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;"
		>
			<div class="administrator-dashboard-box">
				<span style="font-size: large">User Management</span>
				<br />
				<div
					style="
						display: flex;
						justify-content: flex-end;
						align-items: center;
					"
				>
					<button class="button-color-positive button-rounded">
						Create User
					</button>
					<br />
					<button class="button-color-neutral button-rounded">
						Modify User
					</button>
					<br />
					<button class="button-color-negative button-rounded">
						Delete User
					</button>
				</div>
			</div>
			<br />
			<div class="administrator-dashboard-box">
				<span style="font-size: large">User Management</span>
				<br />
				<div
					style="
						display: flex;
						justify-content: flex-end;
						align-items: center;
					"
				>
					<button class="button-color-positive button-rounded">
						Create User
					</button>
					<br />
					<button class="button-color-neutral button-rounded">
						Modify User
					</button>
					<br />
					<button class="button-color-negative button-rounded">
						Delete User
					</button>
				</div>
			</div>
			<br />
			<div class="administrator-dashboard-box">
				<span style="font-size: large">User Management</span>
				<br />
				<div
					style="
						display: flex;
						justify-content: flex-end;
						align-items: center;
					"
				>
					<button class="button-color-positive button-rounded">
						Create User
					</button>
					<br />
					<button class="button-color-neutral button-rounded">
						Modify User
					</button>
					<br />
					<button class="button-color-negative button-rounded">
						Delete User
					</button>
				</div>
			</div>
			<br />
			<div class="administrator-dashboard-box">
				<span style="font-size: large">User Management</span>
				<br />
				<div
					style="
						display: flex;
						justify-content: flex-end;
						align-items: center;
					"
				>
					<button class="button-color-positive button-rounded">
						Create User
					</button>
					<br />
					<button class="button-color-neutral button-rounded">
						Modify User
					</button>
					<br />
					<button class="button-color-negative button-rounded">
						Delete User
					</button>
				</div>
			</div>
			<br />
		</div>

		<footer><%- include("../../partials/footer") %></footer>
	</body>
</html>
