<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Login</title>
	</head>

	<body>
		<header>
			<%- include("../../partials/header", {configuration:
			configuration}); %>
		</header>
		
		<footer><%- include("../../partials/footer", {configuration:
			configuration}); %></footer>
	</body>
</html>
