<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>About</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
            <h1>ABOUT US</h1><br>
            <h3>What is CSP?</h3>
            <p> The Communicable Student Portal, otherwise known as CSP, is a social 
                media website geared toward students, teachers, and faculty of a school.
            </p><br><br>
            <h3>What is CSP?</h3>
            <p> The Communicable Student Portal, otherwise known as CSP, is a social 
                media website geared toward students, teachers, and faculty of a school.
            </p><br>
            
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>