<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>About</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
        <br>
		<h1>CHAT BOARD</h1>
		<br>
		<center>
			<button type="button" class="add-message-button" id="modal-button" style="display:flex;justify-content:center;align-items:center;">NEW MESSAGE</button>
			<div id="modal" class="modal">
				<div class="modal-content"><%- include("../partials/add-message") %></div>
			</div>
		</center>
		<br>
		<div class="chatboard-container">
			<img src="assets\images\Tawei.jpg" class="avatar">
			<span class="chatboard-title">Anyone want to come to my birthday party?</span>
			<br>
			<span class="chatboard-author">John Doe</span>
			<div class="width:200"></div>
			<div class="chatboard-message-container">
				<span class="chatboard-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum orci, eu eleifend risus porttitor sed. Quisque non libero eu mi condimentum vestibulum. Vestibulum gravida tellus in nisl eleifend, sed laoreet lorem convallis. Nulla quis erat leo. Aliquam eu semper diam, ut ullamcorper justo. Morbi aliquet aliquet ipsum condimentum hendrerit. Etiam condimentum, tellus quis aliquet pharetra, ligula ipsum dignissim leo, at placerat urna ex id ante. Nullam tempus scelerisque erat finibus congue. Duis suscipit vulputate sapien, in ultrices elit tempus vitae.</span>
			</div>
			<br>
				<span class="chatboard-time">April 19th, 2022 11:59</span>
			<br>
		</div>
		<footer><%- include("../partials/footer") %></footer>

		<script>
			var modal = document.getElementById("modal");
			
			var btn = document.getElementById("modal-button");
			
			var span = document.getElementsByClassName("close")[0];
			
			btn.onclick = function() {
			  modal.style.display = "block";
			}
			
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			window.onclick = function(event) {
			  if (event.target == modal) {
				modal.style.display = "none";
			  }
			}
		</script>
	</body>
</html>