<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Chatboard Menu</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}) %></header>
		<br>
		<ul id="ChatboardMenuUL">
			<li><span class="caret">Year 1</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li>Buisiness Economics</li>
							<li>Finance</li>
							<li>International Economics</li>
							<li>Marketing</li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li>Creative Technology</li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li>Communication Design</li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li>Computer Engineering</li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li>Intercultural Studies and Languages</li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li>International Relations and Global Afairs</li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li>Media and Communication</li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li>Applied Mathematics</li>
							<li>Biological Science</li>
							<li>Chemistry</li>
							<li>Computer Science</li>
							<li>Food Science and Technology</li>
							<li>Environmental Science</li>
							<li>Physics</li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li>Travel and Service Buisiness Entrepreneurship</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="caret">Year 2</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li>Buisiness Economics</li>
							<li>Finance</li>
							<li>International Economics</li>
							<li>Marketing</li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li>Creative Technology</li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li>Communication Design</li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li>Computer Engineering</li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li>Intercultural Studies and Languages</li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li>International Relations and Global Afairs</li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li>Media and Communication</li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li>Applied Mathematics</li>
							<li>Biological Science</li>
							<li>Chemistry</li>
							<li>Computer Science</li>
							<li>Food Science and Technology</li>
							<li>Environmental Science</li>
							<li>Physics</li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li>Travel and Service Buisiness Entrepreneurship</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="caret">Year 3</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li>Buisiness Economics</li>
							<li>Finance</li>
							<li>International Economics</li>
							<li>Marketing</li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li>Creative Technology</li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li>Communication Design</li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li>Computer Engineering</li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li>Intercultural Studies and Languages</li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li>International Relations and Global Afairs</li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li>Media and Communication</li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li>Applied Mathematics</li>
							<li>Biological Science</li>
							<li>Chemistry</li>
							<li>Computer Science</li>
							<li>Food Science and Technology</li>
							<li>Environmental Science</li>
							<li>Physics</li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li>Travel and Service Buisiness Entrepreneurship</li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="caret">Year 4</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li>Buisiness Economics</li>
							<li>Finance</li>
							<li>International Economics</li>
							<li>Marketing</li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li>Creative Technology</li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li>Communication Design</li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li>Computer Engineering</li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li>Intercultural Studies and Languages</li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li>International Relations and Global Afairs</li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li>Media and Communication</li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li>Applied Mathematics</li>
							<li>Biological Science</li>
							<li>Chemistry</li>
							<li>Computer Science</li>
							<li>Food Science and Technology</li>
							<li>Environmental Science</li>
							<li>Physics</li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li>Travel and Service Buisiness Entrepreneurship</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>