<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Chatboard Menu</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}) %></header>
		<br>
		<ul id="ListMenuUL">
			<li><span class="caret">Year 1</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li><a href="">Buisiness Economics</a></li>
							<li><a href="">Finance</a></li>
							<li><a href=""></a>International Economics</a></li>
							<li><a href="">Marketing</a></li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li><a href="">Creative Technology</a></li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li><a href="">Communication Design</a></li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li><a href="">Computer Engineering</a></li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li><a href="">Intercultural Studies and Languages</a></li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li><a href="">International Relations and Global Afairs</a></li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li><a href="">Media and Communication</a></li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li><a href="">Applied Mathematics</a></li>
							<li><a href="">Biological Science</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Computer Science</a></li>
							<li><a href="">Food Science and Technology</a></li>
							<li><a href="">Environmental Science</a></li>
							<li><a href="">Physics</a></li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li><a href="">Travel and Service Buisiness Entrepreneurship</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="caret">Year 2</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li><a href="">Buisiness Economics</a></li>
							<li><a href="">Finance</a></li>
							<li><a href=""></a>International Economics</a></li>
							<li><a href="">Marketing</a></li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li><a href="">Creative Technology</a></li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li><a href="">Communication Design</a></li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li><a href="">Computer Engineering</a></li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li><a href="">Intercultural Studies and Languages</a></li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li><a href="">International Relations and Global Afairs</a></li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li><a href="">Media and Communication</a></li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li><a href="">Applied Mathematics</a></li>
							<li><a href="">Biological Science</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Computer Science</a></li>
							<li><a href="">Food Science and Technology</a></li>
							<li><a href="">Environmental Science</a></li>
							<li><a href="">Physics</a></li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li><a href="">Travel and Service Buisiness Entrepreneurship</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="caret">Year 4</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li><a href="">Buisiness Economics</a></li>
							<li><a href="">Finance</a></li>
							<li><a href=""></a>International Economics</a></li>
							<li><a href="">Marketing</a></li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li><a href="">Creative Technology</a></li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li><a href="">Communication Design</a></li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li><a href="">Computer Engineering</a></li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li><a href="">Intercultural Studies and Languages</a></li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li><a href="">International Relations and Global Afairs</a></li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li><a href="">Media and Communication</a></li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li><a href="">Applied Mathematics</a></li>
							<li><a href="">Biological Science</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Computer Science</a></li>
							<li><a href="">Food Science and Technology</a></li>
							<li><a href="">Environmental Science</a></li>
							<li><a href="">Physics</a></li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li><a href="">Travel and Service Buisiness Entrepreneurship</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><span class="caret">Year 1</span>
				<ul class="nested">
					<li><span class="caret">Buisiness</span>
						<ul class="nested">
							<li><a href="">Buisiness Economics</a></li>
							<li><a href="">Finance</a></li>
							<li><a href=""></a>International Economics</a></li>
							<li><a href="">Marketing</a></li>
						</ul>
					</li>
					<li><span class="caret">Creative Technology</span>
						<ul class="nested">
							<li><a href="">Creative Technology</a></li>
						</ul>
					</li>
					<li><span class="caret">Design</span>
						<ul class="nested">
							<li><a href="">Communication Design</a></li>
						</ul>
					</li>
					<li><span class="caret">Engineering</span>
						<ul class="nested">
							<li><a href="">Computer Engineering</a></li>
						</ul>
					</li>
					<li><span class="caret">Humanities and Language</span>
						<ul class="nested">
							<li><a href="">Intercultural Studies and Languages</a></li>
						</ul>
					</li>
					<li><span class="caret">International Relations</span>
						<ul class="nested">
							<li><a href="">International Relations and Global Afairs</a></li>
						</ul>
					</li>
					<li><span class="caret">Media</span>
						<ul class="nested">
							<li><a href="">Media and Communication</a></li>
						</ul>
					</li>
					<li><span class="caret">Science</span>
						<ul class="nested">
							<li><a href="">Applied Mathematics</a></li>
							<li><a href="">Biological Science</a></li>
							<li><a href="">Chemistry</a></li>
							<li><a href="">Computer Science</a></li>
							<li><a href="">Food Science and Technology</a></li>
							<li><a href="">Environmental Science</a></li>
							<li><a href="">Physics</a></li>
						</ul>
					</li>
					<li><span class="caret">Travel and Service Buisiness</span>
						<ul class="nested">
							<li><a href="">Travel and Service Buisiness Entrepreneurship</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>