<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>About</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
        <br>
		<h1>CHAT BOARD</h1>
		<br>
		<center>
			<div class="chatboard-message-container">
				<img src="" class="avatar">
				<span class="chatboard-title"> Please help me do my homework!</span>
				<br>
				<div class="chatboard-message">
					AAAAAAAAAAAAAAAAAA
				</div>
				<br>
				
			</div>
		</center>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>