<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Chatboard Menu</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
		<br>
		<div class="">
			
		</div>
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>