<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>About</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
        
		<div class="chatboard-message">

		</div>

		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>