<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Leaderboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
        <h1>CONTACT</h1>
		<h3 style="text-align:center">
			Email: CSP@email.com<br>
			Telephone: 0000000000<br>
			Fax: 0000000000<br>
			Location: 
		</p>
		<br>
		<div class="location-div">
			<iframe class="responsive-iframe">
			</iframe>
		</div>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>