<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Event</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
    	<h1>EVENTS</h1>
		<br>
		<p>This page will list announcements of the school and link related articles.</p>
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>