<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Event</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
    	<h1>EVENTS</h1>
		<br>
		<p>This page will list futures events of the members of the school and its details.</p>
		<center>
		<button type="button" class="new-event-button button" style="display:flex;justify-content:center;align-items:center;width:60%;">NEW EVENT</button>
		<br><br>
		<%- include("../partials/event-bar") %>
		</center>
		<br><br><br><br><br><br><br><br><br><br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>