<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Event</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
    	<h1>EVENTS</h1>
		<br>
		<p>This page will list futures events of the members of the school and its details.</p>
		<button type="button" class="new-event-button" onclick="document.location='default.asp'">NEW EVENT</button>

		<%- include("../partials/event-bar") %>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>