<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<br>
		<img src="/assets/images/CSP Banner.png" alt="Banner" class="banner" width="1280" height="400">
		<br>
		<!--<h2>Welcome to the Communicatable Student Portal!</h2>
		<p>
			The Communicatable Student Portal, otherwise known as CSP, is a open-source portal with "social media" 
			capabilities. It was designed for members of a school to encourage learning and connect members together.
			It's primary written in EJS, CSS, and JavaScript. Currently it's in the stage of development; suggestions
			are appreciated.
		</p>
		<br>
		<h2>Announcements</h2>
		<div class="announcements">
			<p>Currently there are no announcements</p>
		</div>
		<br>
		<h2>Introduction Video</h2>
		<div class="video-div">
			<iframe class="responsive-iframe" src="">
			</iframe>
		</div> -->
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
