<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
		<br>A<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
