<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<br>
		<img src="/assets/images/CSP Banner.png" alt="Banner" class="banner" width="1280" height="400">
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
