<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<br>
		<%- include("../partials/index-slideshow") %>
		<br>
		<h2>Welcome to the Communicable Student Portal!</h2>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
