<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>
	
	<body>
		<header><%- include("../partials/header") %></header>
<<<<<<< HEAD
	
=======
>>>>>>> 2d23aa89cea40f13da83a41b0aef12babb05fac8
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
