<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>

	<body>
		<header><%- include("../partials/header") %></header>
		<h1>LOGIN</h1>
		<br><br>
		<p><center>
		<label for="username"><b>Username</b></label><br>
		<input type="text" placeholder="USERNAME" name="username" required>
		<br><br>
		<label for="password"><b>Password</b></label><br>
		<input type="password" placeholder="PASSWORD" name="password" required>
		<br><br><br>
		<div style="display:flex;justify-content:center;align-items:center;">
			<button type="submit" class="button login-button">Login</button>
		</div>
		<br><br>
		Didn't have an account? Sign in <a href="/signin">here</a>!
		</center></p>

		<footer><%- include("../partials/footer") %></footer>
	</body>
  
</html>