<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Login</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}) %></header>
		<form>
			<input type="text" placeholder="USERNAME" name="username">
			<input type="password" placeholder="PASSWORD" name="password">
			<button type="submit" value="login">LOGIN</button>
		</form>

		<%- include("../PHP/login") %>

		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>
