<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>

	<body>
		<header><%- include("../partials/header") %></header>

		<div id="loginborder"><p><center>
		<label for="username" style="text-align:left"><b>Username</b></label><br>
		<input type="text" placeholder="USERNAME" name="username" required>
		<br><br>
		<label for="psw" style="text-align:left"><b>Password</b></label><br>
		<input type="password" placeholder="PASSWORD" name="password" required>
		<br>
		<button type="submit">Login</button>
		</center></p></div>

		<footer><%- include("../partials/footer") %></footer>
	</body>
  
</html>