<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>

	<body>
		<header><%- include("../partials/header") %></header>

		<p><center>
		<label for="username"><b>Username</b></label><br>
		<input type="text" placeholder="USERNAME" name="username" required>
		<br><br>
		<label for="password"><b>Password</b></label><br>
		<input type="password" placeholder="PASSWORD" name="password" required>
		<br><br>
		<div class="center">
			<button type="submit" class="button login-button">Login</button>

		</div>
		</center></p>

		<footer><%- include("../partials/footer") %></footer>
	</body>
  
</html>