<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>

	<body>
		<header><%- include("../partials/header") %></header>
		<h1>SIGN UP</h1>
		<p><center>
		<label for="username"><b>Username</b></label><br>
		<input type="text" placeholder="USERNAME" name="username" required>
		<br><br>
		<label for="password"><b>Password</b></label><br>
		<input type="password" placeholder="PASSWORD" name="password" required>
		<br><br>
        <label for="password"><b>Student ID</b></label><br>
		<input type="text" placeholder="Student ID" name="studentID" required>
        <br><br><br>
		<div style="display:flex;justify-content:center;align-items:center;">
			<button type="submit" class="button signup-button">Sign Up</button>
		</div>
		<br><br>
		Already have an account? Login <a href="/login">here</a>!
		</center></p>

		<footer><%- include("../partials/footer") %></footer>
	</body>
  
</html>