<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<br>
        
		<h2>Welcome to the Communicable Student Portal!</h2>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>