<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Study Material</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
			<h1>Study Material Protoype </h1>
            <br>
			<p style="text-align:center">
				The study material page where teachers and the school faculty can provide students with nescessary documents, videos, and other forms of media.
			</p>
            <center>
				<button type="button" class="add-studymaterial-button" id="modal-button" style="display:flex;justify-content:center;align-items:center;">New material</button>
				<br>
				<a href="/studymaterial-content"><div class="studymaterial-container">
					<img class="studymaterial-pic" src="assets\images\Random book 1.jpg">
					<br>
					<div class="studymaterial-name">Gray's Anatomy</div>
					<hr>
					<div class="studymaterial-description">
						Gray's anatomy is a famous medical book due to how it revolutinized the medical industry. It is often cited as the doctors' bible.
					</div>
				</div></a>
				<a href=""><div class="studymaterial-container">
					<img class="studymaterial-pic" src="assets\images\Random book 2.jpg">
					<br>
					<div class="studymaterial-name">Cambridge IGCSE</div>
					<hr>
					<div class="studymaterial-description">
						Main mathematics book for Year 1 students since students are required to have a IGCSE test for workig overseas.
					</div>
				</div></a>
				<a href=""><div class="studymaterial-container">
					<img class="studymaterial-pic" src="assets\images\Random book 3.jpg">
					<br>
					<div class="studymaterial-name">BM 1</div>
					<hr>
					<div class="studymaterial-description">
						In buisiness, mathematics play an important role in determining various types of data which can potentially jeopardise your management if done incorrectly. 
					</div>
				</div></a>
            </center>
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>