<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Updates</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
			<h1>Study Material Protoype </h1>
            <br>
			<p style="text-align:center">
				The study material page where teachers and the school faculty can provide students with nescessary documents, videos, and other forms of media.
			</p>
            <center>
				<a href=""><div class="studymaterial-container">
					<img class="studymaterial-pic" src="assets\images\Random book 1.jpg">
					<br>
					<div class="studymaterial-name">Gray's Anatomy</div>
					<hr>
					<div class="studymaterial-description">
						Gray's anatomy is a famous medical book due to how it revolutinized the medical industry. It is often cited as the doctors' bible.
					</div>
				</div></a>
            </center>
		<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>