<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Updates</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
			<h1>Study Material Protoype </h1>
            <br>
			<p>
				The study material page where teachers and the school faculty can provide students with nescessary documents, videos, and other forms of media.
			</p>
			<br>
            <center>
                <div class="row">
                    <div class="column">
                        <div class="studymaterial-container">
                            <img class="studymaterial-pic" src="assets\images\Random book 1.jpg">
                        </div>
                    </div>
                </div>
            </center>

		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>