<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
<<<<<<< HEAD
		<title>Communicable Student Portal</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<br>
        
		<h2>Welcome to the Communicable Student Portal!</h2>
=======
		<title>Updates</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
			<h1>Student Dashboard</h1>
			<br>
>>>>>>> dafc069e17da6de4840b3ed4362932204792e776
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>