<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Updates</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<h1>Study material content page prototype</h1>
		<br>
		<div class="studymaterial-content-container">
			<img class="studymaterial-pic" src="assets\images\Random book 1.jpg">
			<br>
			<span class="studymaterial-name">Gray's Anatomy</span>
			<hr>
			<span class="studymaterial-description">Gray's anatomy is a famous medical book due to how it revolutinized the medical industry. It is often cited as the doctors' bible.</span>
		</div>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>