<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>Updates</title>
	</head>
	<body>
		<header><%- include("../partials/header") %></header>
			<h1>UPDATES</h1>
			<p>
				The updates page will keep users inform of pathes and updates from the administerators.
			</p>
			<br>
			<p>
				Since this is the first release, there's no updates yet.
			</p>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>