/*
    This is the CSS file that is used for the program.
    Feel free to edit to your liking.
*/

:root {
	/* This is the background color to be used for the program. */
	--default-background-color: #ffffff;

	/* This is the default font to be used for the program. */
	--default-font: monospace;

	/* This is the background color to be used for the top navigation bar. */
	--default-top-navigation-bar-background-color: #182859;
	/* This is the text color to be used for the top navigation bar. */
	--default-top-navigation-bar-text-color: #ffffff;
	/* This is the font size to be used for the top navigation bar. */
	--default-top-navigation-bar-font-size: 16px;
}

/*
    For advanced users only!
    Editing it may make the app look broken!
*/

/* Global */
body {
	background-color: var(--default-background-color);
	margin: 0;
	font-family: var(--default-font);
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	height:15%;
}

h1 {
	font-size:45px;
	font-weight:900;
	text-align:center;
}

h2 {
	font-size:35px;
	text-align:center;
}

h3 {
	font-size:25px;
	text-align:center;
}

h4 {
	font-size: 20px;
	text-align:center;
}

p {
	padding: 5px 70px 70px 50px;
	text-align: justify;
	text-indent:40px;
	font-size:18px;
}

a {
	color: #182859;
	text-decoration: none;
}

a:hover {
	color:#4167dc;
}

hr {
	border:1px solid #182859;
}

.button {
	background-color: #182859;
	border: none;
	color: #fefefe;
	text-decoration: none;
	display: block;
	font-size: 20px;
	position: absolute;
	border-radius: 8px;
	transition-duration: 0.4s;
	cursor: pointer;
	margin:auto
}

.center {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%
}

.horizontal-center {
	margin:auto;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

input[type=text], input[type=password] {
	width: 40%;
	height: 35px;
	padding: 12px 16px;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: var(--default-font);
}

textarea {
	height: 150px;
 	padding: 12px 16px;
  	box-sizing: border-box;
  	border: 1px solid #ccc;
 	border-radius: 8px;
  	background-color: #fefefe;
  	resize: none;
	font-family: var(--default-font);
}

  .avatar {
	  height: 40px;
	  width: 40px;
	  border-radius: 50%;
  }

  /* Slideshow */

  .slideshow-container {
	width:100%;
	position: relative;
	margin: auto;
  }
  
  .slideshow-pics {
	display: none;
  }
  
  .slideshow-prev-button, .slideshow-next-button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  .slideshow-next-button {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  .slideshow-prev-button:hover, .slideshow-next-button:hover {
	background-color: rgba(143, 143, 143, 0.8);
	color:#fefefe;
  }
  
  .slideshow-number {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  .slideshow-dot {
	cursor: pointer;
 	height: 20px;
 	width: 20px;
 	margin: 0 2px;
 	background-color: #bbb;
	border-radius: 50%;
 	display: inline-block;
 	transition: #182859 0.6s ease;
  }
  
  .active, .slideshow-dot:hover {
	background-color: #717171;
  }
  
  .slideshow-fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
	.slideshow-prev-button, .slideshow-next-button {font-size: 11px}
  }

/* Collapsible */

.collapsible{
  	background-color: #182859;
 	color: white;
 	cursor: pointer;
	padding: 18px;
 	width: 60%;
	text-decoration: none;
 	border: none;
 	text-align: center;
 	outline: none;
 	font-size: 18px;
	border-radius: 8px;
	display:block;
	font-family: var(--default-font);
	transition-duration: 0.4s;
}

.active, .collapsible:hover {
	background-color: #4167dc;
  }

.collapsible-content {
	width: 58%;
	padding: 0 18px;
 	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
 	background-color: #f1f1f1;
	 border-radius: 8px;
}

/* Modal */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  .modal-close-button {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .modal-close-button:hover,
  .modal-close-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
  }

  .modal-header {
	padding: 2px 16px;
	background-color: #182859;
	color: white;
	border-radius: 8px;
  }

  @keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
  }

  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }

/* Login */

.login-button {
	background-color:#182859;
	color:#fefefe;
	border: 1px solid #182859;
	width:40%;
	height:35px;
	
}

.login-button:hover {
	background-color: #4167dc;
 	 color: #ffffff;
	border: 1px solid #4167dc;
}


/* Top Navigation Bar */
#top-navigation-bar {
	background-color: var(--default-top-navigation-bar-background-color);
	color: var(--default-top-navigation-bar-background-color);
	overflow: hidden;
	z-index:100;
}

#top-navigation-bar a {
	color: var(--default-top-navigation-bar-text-color);
	font-size: var(--default-top-navigation-bar-font-size);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}

.top-navigation-bar-dropdown {
	float: left;
	overflow: hidden;
}

.top-navigation-bar-dropdown .drop-down-button {
	font-size: 16px;
	border: none;
	outline: none;
	color:  #fefefe;
	padding: 14px 16px;
	background-color: #182859;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.top-navigation-bar-dropdown:hover .drop-down-button {
	background-color: white;
	color: #182859;
}

.top-navigation-bar-dropdown-content {
	display: none;
	position: absolute;
	background-color: #fefefe;
	color:#182859;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.top-navigation-bar-dropdown-content a {
	float: none;
	color: #182859;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.top-navigation-bar-dropdown-content a:hover {
	background-color: rgb(131, 131, 131);
}

.top-navigation-bar-dropdown:hover .top-navigation-bar-dropdown-content {
	display: block;
}

#top-navigation-bar .icon {
	display: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
.sticky + .content {
	padding-top: 60px;
  }

.top-navigation-bar-login-button {
	float: right;
	color: #ffffff;
	text-align: center;
	padding: auto;
	text-decoration: none;
	font-size: 16px;
}

@media screen and (max-width: 600px) {
	#top-navigation-bar a:not(:first-child) {
		display: none;
	}
	#top-navigation-bar a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.top-navigation-bar.responsive {
		position: relative;
	}
	.top-navigation-bar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.top-navigation-bar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Banner */

.banner{
	float: none;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	width:100%;
	max-width:2280px;
	height:auto;

}

/*List Menu*/

ul, #ListMenuUL {
	list-style-type: none;
  }
  
  #ListMenuUL {
	margin: 0;
	padding: 5px 50px;
	font-size:22px;
	text-align:left;
  }
  
  .caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
  }
  
  .caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
  }
  
  .caret-down::before {
	transform: rotate(90deg);
  }

  .nested {
	display: none;
  }
  
  .active {
	display: block;
  }

  .ColorDiv1{
	background-color:rgb(255, 143, 143);
	color:rgb(164, 0, 0);
  }
  .ColorDiv2{
	background-color:rgb(154, 255, 131);
	color:rgb(0, 111, 0);
  }
  .ColorDiv3{
	background-color:rgb(161, 219, 255);
	color:rgb(9, 0, 130);
  }
  .ColorDiv4{
	background-color:rgb(255, 197, 110);
	color:rgb(189, 97, 0);
  }

  /* Columns */

  .chatboard-menu-column1 ,.studymaterial-menu-column1 {
	column-count: 5;
	column-rule: 2px solid #182859;
  }

  .chatboard-menu-column2 ,.studymaterial-menu-column2 {
	column-count: 4;
	column-rule: 2px solid #182859;
  }

  /* Chatboards */

  .chatboard-message-container {
	background-color: #fefefe;
	border: 2px solid #182859;
	border-radius: 8px;
	width: 60%;
	height: 10%;
	display: block;
	text-align: left;
	padding: 10%;
	margin-left: 20px;
	align-items: center;
  }

  .chatboard-message {
	font-size: 18px;
	background-color:var(--default-background-color);
  }

  .chatboard-title{
	  font-size: 20px;
	  text-align: right;
	  vertical-align: baseline;
  }

  .chatboard-author, .chatboard-time {
	font-size: 24px;
	font-weight: bold;
	color:#182859;
  }

  .chatboard-time {
	text-align: right;
  }

  .chatboard p {
	  font-size: 18px;
  }

  /*Contact*/

  .location-div {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
  }

  /*Leaderboard*/

  #leaderboard {
	border-collapse: collapse;
	width: 60%;
  }

  #leaderboard td, #leaderboard th {
	border: 1px solid #ddd;
	padding: 8px;
	border-radius: 8px;
  }

  .leaderboard th:first-child {
	width: 50px;
	text-align: center;
	outline: hidden;
  }

  #leaderboard tr {
	  background-color:#fefefe;
	  text-align:center;
  }

  #leaderboard tr:hover {
	  background-color: #ddd;
  }
  
  #leaderboard th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #182859;
	color: white;
	text-align:center;
  }

  /* Events */

  .add-event-button {
	background-color:green;
	color:#fefefe;
	border: 1px solid green;
	width:60%;
	height:35px;
	align-content:center;
	display: block;
	font-size: 20px;
	border-radius: 8px;
	transition-duration: 0.4s;
	cursor: pointer;
   }

  .add-event-button:hover {
	background-color: greenyellow;
 	color: #ffffff;
	border: 1px solid greenyellow;
   }

  .submit-button {
	background-color:#182859;
	color:#fefefe;
	border: 1px solid #182859;
	width:40%;
	height:35px;
	
}

  .submit-button:hover {
	background-color: #4167dc;
 	color: #ffffff;
	border: 1px solid #4167dc;
	}

  .event-input-description {
	width:40%;
	}
  
