<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Announcements</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
			<h1>Announcements</h1>
			<p>
				The announcement page will list all of the announcements posted by the administerators.
			</p>
			<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>