<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Blog Content</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
			<h1>Blog</h1>
			<p>
				The blog page will 
			</p>
			<br>
		<footer><%- include("../partials/footer") %></footer>
	</body>
</html>