<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Blog Menu</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
			<h1>Blog</h1>
			<p>
				The blog page will show all of the blogs which teachers or authroized seniors posted. Most of the contents of the page will be about 
			</p>
			<br>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>