<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Blog Content</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<h1><%= configuration.text.pages.user.blogContent.textTitle %></h1>
		<br>
		<div class="">

		</div>
		<br>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>