<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Chatboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}) %></header>
		<h1>Chat Board Menu</h1>
		<p>
			This is the chat board menu, where links to dedicated chat boards for each subject and grade are listed.
		</p>
		<center>
			<button type="button" class="collapsible">Year 1</button>
    		<div class="collapsible-content">
				<br>
				<div class="chatboard-menu-column1">
					<h4>Buisiness</h4>
					<a href="/chatboard-content">Buisiness Economics</a><br>
					<a href="/chatboard-content">Finance</a><br>
					<a href="/chatboard-content">International Buisiness</a><br>
					<a href="/chatboard-content">Marketting</a><br>

					<h4>Creative Technology</h4>
					<a href="">Creative technology</a><br>
					<br>
					<br>

					<h4>Design</h4><br>
					<a href="">Communication Design</a><br>
					<br>
					<br>
					<br>

					<h4>Engineering</h4><br>
					<a href="">Computer Engineering</a><br>
					<br>
					<br>
					<br>

					<h4>Humanities & Languages</h4>
					<a href="">Intercultural Studies<br>
					and Languages</a>
					<br>
				</div>
				<br>
				<br>
				<br>
				<div class="chatboard-menu-column2">
					<h4>International Relations</h4>
					<a href="">International Relations<br>
					and Global Afairs</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					

					<h4>Media</h4>
					<a href="">Media & Communication</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<h4>Science</h4>
					<a href="">Applied Mathematics</a><br>
					<a href="">Biological Science</a><br>
					<a href="">Chemistry</a><br>
					<a href="">Computer Science<br>
					<a href="">Food Science & Technology</a><br>
					<a href="">Environmental Science</a><br>
					<a href="">Physics</a><br>

					<h4>Travel and Service Buisinesses</h4>
					<a href="">Travel and Service <br>
					Buisiness Entrepreneurship</a><br>
					<br>
					<br>
					<br>
				</div>
				<br>
			</div>
			<br>

			<button type="button" class="collapsible">Year 2</button>
    		<div class="collapsible-content">
        		<br>
				<div class="chatboard-menu-column1">
					<h4>Buisiness</h4>
					<a href="">Buisiness Economics</a><br>
					<a href="">Finance</a><br>
					<a href="">International Buisiness</a><br>
					<a href="">Marketting</a><br>

					<h4>Creative Technology</h4>
					<a href="">Creative technology</a><br>
					<br>
					<br>

					<h4>Design</h4><br>
					<a href="">Communication Design</a><br>
					<br>
					<br>
					<br>

					<h4>Engineering</h4><br>
					<a href="">Computer Engineering</a><br>
					<br>
					<br>
					<br>

					<h4>Humanities & Languages</h4>
					<a href="">Intercultural Studies<br>
					and Languages</a>
					<br>
				</div>
				<br>
				<br>
				<br>
				<div class="chatboard-menu-column2">
					<h4>International Relations</h4>
					<a href="">International Relations<br>
					and Global Afairs</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					

					<h4>Media</h4>
					<a href="">Media & Communication</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<h4>Science</h4>
					<a href="">Applied Mathematics</a><br>
					<a href="">Biological Science</a><br>
					<a href="">Chemistry</a><br>
					<a href="">Computer Science<br>
					<a href="">Food Science & Technology</a><br>
					<a href="">Environmental Science</a><br>
					<a href="">Physics</a><br>

					<h4>Travel and Service Buisinesses</h4>
					<a href="">Travel and Service <br>
					Buisiness Entrepreneurship</a><br>
					<br>
					<br>
					<br>
				</div>
				<br>
			</div>
			<br>

			<button type="button" class="collapsible">Year 3</button>
    		<div class="collapsible-content">
        		<br>
				<div class="chatboard-menu-column1">
					<h4>Buisiness</h4>
					<a href="">Buisiness Economics</a><br>
					<a href="">Finance</a><br>
					<a href="">International Buisiness</a><br>
					<a href="">Marketting</a><br>

					<h4>Creative Technology</h4>
					<a href="">Creative technology</a><br>
					<br>
					<br>

					<h4>Design</h4><br>
					<a href="">Communication Design</a><br>
					<br>
					<br>
					<br>

					<h4>Engineering</h4><br>
					<a href="">Computer Engineering</a><br>
					<br>
					<br>
					<br>

					<h4>Humanities & Languages</h4>
					<a href="">Intercultural Studies<br>
					and Languages</a>
					<br>
				</div>
				<br>
				<br>
				<br>
				<div class="chatboard-menu-column2">
					<h4>International Relations</h4>
					<a href="">International Relations<br>
					and Global Afairs</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					

					<h4>Media</h4>
					<a href="">Media & Communication</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<h4>Science</h4>
					<a href="">Applied Mathematics</a><br>
					<a href="">Biological Science</a><br>
					<a href="">Chemistry</a><br>
					<a href="">Computer Science<br>
					<a href="">Food Science & Technology</a><br>
					<a href="">Environmental Science</a><br>
					<a href="">Physics</a><br>

					<h4>Travel and Service Buisinesses</h4>
					<a href="">Travel and Service <br>
					Buisiness Entrepreneurship</a><br>
					<br>
					<br>
					<br>
				</div>
				<br>
			</div>
			<br>

			<button type="button" class="collapsible">Year 4</button>
    		<div class="collapsible-content">
        		<br>
				<div class="chatboard-menu-column1">
					<h4>Buisiness</h4>
					<a href="">Buisiness Economics</a><br>
					<a href="">Finance</a><br>
					<a href="">International Buisiness</a><br>
					<a href="">Marketting</a><br>

					<h4>Creative Technology</h4>
					<a href="">Creative technology</a><br>
					<br>
					<br>

					<h4>Design</h4><br>
					<a href="">Communication Design</a><br>
					<br>
					<br>
					<br>

					<h4>Engineering</h4><br>
					<a href="">Computer Engineering</a><br>
					<br>
					<br>
					<br>

					<h4>Humanities & Languages</h4>
					<a href="">Intercultural Studies<br>
					and Languages</a>
					<br>
				</div>
				<br>
				<br>
				<br>
				<div class="chatboard-menu-column2">
					<h4>International Relations</h4>
					<a href="">International Relations<br>
					and Global Afairs</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					

					<h4>Media</h4>
					<a href="">Media & Communication</a><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<h4>Science</h4>
					<a href="">Applied Mathematics</a><br>
					<a href="">Biological Science</a><br>
					<a href="">Chemistry</a><br>
					<a href="">Computer Science<br>
					<a href="">Food Science & Technology</a><br>
					<a href="">Environmental Science</a><br>
					<a href="">Physics</a><br>

					<h4>Travel and Service Buisinesses</h4>
					<a href="">Travel and Service <br>
					Buisiness Entrepreneurship</a><br>
					<br>
					<br>
					<br>
				</div>
				<br>
			</div>
			<br>
			<button type="button" class="collapsible" onclick="document.location='chatboard-content'">University Life</button>
			<br>
			<footer><%- include("../partials/footer", {configuration: configuration.text}); %></footer>
		</center>

		<script>
			var coll = document.getElementsByClassName("collapsible");
			var i;
			
			for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.maxHeight){
					content.style.maxHeight = null;
				} else {
					content.style.maxHeight = content.scrollHeight + "px";
				} 
			});
		}
		</script>
	</body>
</html>