<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP Leaderboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
        <h1><%= configuration.text.pages.user.about.titleText %></h1>
		
		<br>
		<div class="location-div">
			<iframe class="responsive-iframe" 
			src="https://www.google.com/maps/place/Thailand/@13.0003016,96.9923586,1775949m/data=!3m2!1e3!4b1!4m5!3m4!1s0x304d8df747424db1:0x9ed72c880757e802!8m2!3d15.870032!4d100.992541">
			</iframe>
		</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>