<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Leaderboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration.topNavigationBarSections}); %></header>
		<h1>Leaderboard</h1>
		<%- include("../partials/leaderboard-table") %>
		<footer><%- include("../partials/footer", {configuration: configuration.text}); %></footer>
	</body>
</html>