<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Study Material</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<h1></h1>
		<br>
		<div class="studymaterial-content-container">
			<img src="assets\images\Random book 1.jpg">
			<div class="studymaterial-content-detail">
				<span class="studymaterial-content-name">Gray's Anatomy</span>
				<hr>
				<div class="studymaterial-content-description">
					Gray's anatomy is a famous medical book due to how it revolutinized the medical industry. It is often cited as the doctors' bible. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue purus urna, sed cursus massa tincidunt at. Etiam pellentesque vulputate nisl quis aliquam. Nam magna justo, tincidunt vel augue vel, sodales lacinia odio. Mauris purus neque, sodales et pharetra ac, auctor eget tortor. Nam semper lorem et sollicitudin molestie. Ut purus lacus, eleifend at mauris a, vulputate malesuada dolor. Fusce eget nibh convallis, accumsan urna vitae, fringilla sapien. Ut ullamcorper dapibus rhoncus.
				</div>
				<br>
				<span class="studymaterial-content-content">Contents</span>
				<hr>

				<br><br>
				<center>
					<button class="download-studymaterial-button">Download</button>
				</center>
			</div>
		</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>